body {
  background: #d8d8d8;
  font-family: "Montserrat", sans-serif;
}

.body-cv {
  height: 1185px;
  width: 900px;
  background: #fff;
  margin: auto;
}
.top-cv {
  height: 300px;
  width: 900px;
  background: url("../image/background-profile.jpg");
}

.top-cv img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin: 30px 30px 10px 30px;
}

.top-cv h1.cv-name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-shadow: 4px 5px 12px #000;
}

.top-cv p.job-preferance {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-shadow: 4px 5px 12px #000;
}

.col-8 {
  width: 50%;
  float: left;
  background-color: #002995;
}

.summary-experience {
  margin: 20px;
  color: #fff;
}

hr {
  margin-top: -10px;
  border: 1px solid #fff;
}

h1.title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
  text-transform: capitalize;
}

p.desc-summary {
  font-size: 20px;
  font-weight: 300;
}

p.desc-experience {
  font-size: 20px;
  font-weight: 300;
}

p.desc-education {
  font-size: 20px;
  font-weight: 300;
}

li {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
}

.col-4 {
  width: 44%;
  float: left;
}

.contacts-skills {
  margin: 20px;
  color: #212121;
}

.contacts-skills .list-contact {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  text-decoration: underline;
  color: #002995;
}
